## "Unknown number of arguments" / Optional arguments

##### optional argumnets always come after regular arguments 
##### Optional parameters always come after regular parameters 
##### Optional keyword arguments are returned as **dictionar**
##### Optional positional arguments are returned as *tuple* 
##### optional keyword arguments are left empty then there will be no output 
#####  optional positional aguments are left empty then there will be empty tuple

In [8]:
# these are just practice of previous lesson

In [9]:
def add_function (a,b) :
    return a + b

In [10]:
add_function (5,9)

14

In [11]:
add_function (888888,0000000)

888888

In [12]:
# optional returns **kwags , a dictionary of keyword arguments

In [29]:
# Definition
def student_details(first_name, last_name, **other_info ):       # (**other info) --> optional keyword parameters
    print(first_name)
    print(last_name)
    for key , value in other_info.items() :
        print(key  +" : "+ value)

In [30]:
# Calling 
student_details(first_name ="shahzaib" ,                    # we can add unlimited number of keyword arguments 
                last_name = "bakhtani" , college = "HPHS",
               nationality = "pakistani" )

shahzaib
bakhtani
college : HPHS
nationality : pakistani

## Only values

In [31]:
def student_details(first_name, last_name, **other_info ):       
    print(first_name)
    print(last_name)
    for  value in other_info.values() :
        print(value)

In [32]:
student_details ("shahzaib", "Bakhtani" , college = "HPHS" , nationality = "pakistani")

shahzaib
Bakhtani
HPHS
pakistani

## Only keys

In [ ]:
def student_details(first_name, last_name, **other_info ):       
    print(first_name)
    print(last_name)
    for key  in other_info.keys() :
        print(key)

In [34]:
student_details ("shahzaib" , "bakhtani" , college = "HPHS" , nationality = "pakistani")

shahzaib
bakhtani
HPHS
pakistani

## No optional Keyword arguments

In [35]:
def student_details(first_name, last_name, **other_info ):       
    print(first_name)
    print(last_name)
    for key , value in other_info.items() :
        print(key  +" : "+ value)

In [37]:
student_details("shahzaib" , "bakhtani")

shahzaib
bakhtani

### only Optional

In [39]:
def student_details(first_name, last_name, **other_info ):      
    return other_info

In [44]:
student_details("shahzaib", "Bakhtani" , college = "HPHS" , nationality = "pakistani" )

{'college': 'HPHS', 'nationality': 'pakistani'}

### Only Optional Keyword parameters

In [45]:
def student_details (**other_info) :
    return other_info

In [46]:
student_details(college= "HPHS", nationality = "pakistani")

{'college': 'HPHS', 'nationality': 'pakistani'}

In [47]:
# differce between return and print is that kai when we do return tu srif first value aahe ghi but when we do print sari values aahein ghi

### Optional positional parameters

In [49]:
 # one staric (*) is use  only 
 # it will return tupel of positional rguments

In [54]:
# Definition 
def number_series(first_num , second_num , *other_nums ) :
    print(first_num)
    print(second_num)
    print(other_nums)

In [56]:
# Calling
number_series(1,2,3,4,5,6,7,8,9,10,11)   # 3 sai 8 tak tuple main aahe ghe

1
2
(3, 4, 5, 6, 7, 8, 9, 10, 11)

### Only regular positional Arguments

In [57]:
number_series(1,2)

1
2
()

In [68]:
def number_series(first_num , second_num , *other_nums ) :
    print(first_num)
    print(second_num)
    print(other_nums[0])

In [69]:
number_series(1,2,3,4,5,6) # we put 0 in oter places so it will give output number have 0 index after 2 because 1 and 2 are not optional

1
2
3

#### Return

In [83]:
## return --> to pass into to other variables like (pop)

In [84]:
def income_tax(income,tax_rate) :
    tax = (income * tax_rate / 100) 
    return tax

In [85]:
tax = income_tax(1000,20)
tax= str(tax)        # --> type casting
tax

'200.0'

In [86]:
tax           # --> return ki waja sai tax ki value 200 rahi aghar print karte tu badh main tax ka koi output nahi aata

'200.0'

In [87]:
type(tax)

str

## Condencing

In [88]:
# condencing --> steps ko chota karna

In [89]:
def income_tax(income,tax_rate) :   
    return income * (tax_rate/100)

In [ ]:
tax =  income_ta