# Loop

In [1]:
# complete cycle to do complete work or map of doing any work
# work untill the work is not done completly 
 
    # practical buisness example 
    # general example

In [2]:
# 5 beautiful cities of pakistan 

beautiful_cities = ["swat","karachi","naran","chitral","islamabad"]

In [3]:
beautiful_cities

['swat', 'karachi', 'naran', 'chitral', 'islamabad']

In [6]:
for city in beautiful_cities:         #aghar 2 baar karachi list main ho gha tu 2 dafa print ho gha 
    if city == "karachi" :
        print("Hurrah! I live in the beautiful city")

Hurrah! I live in the beautiful city

In [4]:
corona_med = ["corona1","corona2","corona3","corona4","corona5"]

In [5]:
corona_med

['corona1', 'corona2', 'corona3', 'corona4', 'corona5']

In [9]:
for med_test in corona_med :
    if med_test == "corona3":       # break --> order to pytohn to find corona 3 and break list if []
                                    # break karne kai badh wo comparitive operator == ko dekhe gha or aus hissab sai working kare gha 
        corona_med = []
        break

In [7]:
corona_med

[]

In [11]:
beautiful_cities = ["karachi","naran","swat","islamabad","kashmir"]

In [12]:
beautiful_cities

['karachi', 'naran', 'swat', 'islamabad', 'kashmir']

In [13]:
for i in beautiful_cities :
    if i == "naran":
        print("it is beautiful")

it is beautiful

In [35]:
num = [1,2,3,4,5,6]

In [37]:
for i in num :
    num [i-1] = i+2

In [39]:
# it is a formula to add any number or we can say increase every element of list by 2 or any number

In [40]:
num

[3, 4, 5, 6, 7, 8]

In [38]:
num

[3, 4, 5, 6, 7, 8]

In [41]:
num[1] = 100

In [43]:
#update 3 by 100

In [42]:
num

[3, 100, 5, 6, 7, 8]

In [44]:
# Increment using for loop

In [45]:
num [1] = 4

In [46]:
num

[3, 4, 5, 6, 7, 8]

In [48]:
# any type of grocery price

In [54]:
groceries = [0,1,2,3,4]

In [55]:
groceries

[0, 1, 2, 3, 4]

In [58]:
for i in groceries :
    print(groceries[i])

0
1
2
3
4

In [65]:
# for loops nested

In [66]:
first_names = ["ahsan", "abdullah", "yaseen", "luqman"]

sir_names = ["khan"]

In [67]:
for i in sir_names :
    for k in first_names :
        print(k + " "+ i  )

ahsan khan
abdullah khan
yaseen khan
luqman khan

In [68]:
# concatenation howi upper

In [69]:
first_names = ["shahzaib","asad","arfa","asif"]

In [70]:
first_names

['shahzaib', 'asad', 'arfa', 'asif']

In [72]:
sir_name = ["Bakhtani"]

In [73]:
sir_names

['Bakhtani']

In [76]:
for k in first_names :
    for i in sir_name :
        print(k +" " + i)

shahzaib Bakhtani
asad Bakhtani
arfa Bakhtani
asif Bakhtani

In [77]:
# i or k likhne ka matlab khali bare word ko short karne kai liye

In [78]:
# int and string cannot be concatinate

In [82]:
numbers = ["1","2","3","4","5"]

In [83]:
numbers

['1', '2', '3', '4', '5']

In [84]:
alphabets = ["a","b","c"]

In [87]:
alphabets

['a', 'b', 'c']

In [93]:
for n in numbers :
    for alpha in alphabets :
        print( n  +" "+ alpha)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c