# Dictionary

In [1]:
# dictionary 
# word = meaning
 #key : value

In [3]:
{"first_name"   :"shahzaib" }

{'first_name': 'shahzaib'}

In [5]:
personal_details = {"first name"  : "shahzaib", "last name "  : "bakhtani" ,  "address"  : " A1 golden jubilee " }

In [6]:
print(personal_details)

{'first name': 'shahzaib', 'last name ': 'bakhtani', 'address': ' A1 golden jubilee '}

In [7]:
len(personal_details)

3

In [8]:
# how to retrieve data from dictionary

In [9]:
personal_details

{'first name': 'shahzaib',
 'last name ': 'bakhtani',
 'address': ' A1 golden jubilee '}

In [10]:
address_details = personal_details ['address']

In [11]:
address_details

' A1 golden jubilee '

In [14]:
print(personal_details)

{'first name': 'shahzaib', 'last name ': 'bakhtani', 'address': ' A1 golden jubilee '}

In [19]:
# key     ---> how to fide specific element

In [16]:
personal_details ['address']

' A1 golden jubilee '

In [17]:
personal_details ['first name']

'shahzaib'

In [18]:
personal_details['last name ']

'bakhtani'

In [25]:
student_id = {1 : "shahzaib Bakhtani" ,    2 : "Asad bakhtani" ,  3 : "Asif bakhtani" ,   4 : "Arfa bakhtani",  5 : "shireen bakhtani" }

In [23]:
print(student_id)

{1: 'shahzaib Bakhtani', 2: 'Asad bakhtani', 3: 'Asif bakhtani', 4: 'Arfa bakhtani ', 5: 'shireen bakhtani'}

In [24]:
student_id[3]

'Asif bakhtani'

In [3]:
salary_data = {"shahzaib bakhtani" :  100000  , "Asad bakhtani" : 90000 , "Asif bakhtani"  : 80000}

In [6]:
salary_data ["shahzaib bakhtani"]

100000

In [17]:
weekly_todo = {"Monday" : ["wake up " , "Brush " , "Break fast " , "college" , "Home " , "play " , "sleep"] , "Tuesday" :[ "wake up " , "Brush " , "Break fast " , "college" , "Home " , "play " , "sleep"] }

In [18]:
weekly_todo ["Monday"]

['wake up ', 'Brush ', 'Break fast ', 'college', 'Home ', 'play ', 'sleep']

In [19]:
print(weekly_todo)

{'Monday': ['wake up ', 'Brush ', 'Break fast ', 'college', 'Home ', 'play ', 'sleep'], 'Tuesday': ['wake up ', 'Brush ', 'Break fast ', 'college', 'Home ', 'play ', 'sleep']}

In [24]:
#Bank example 
employe_data = {1001 : {'first name' : "shahazaib" , 'last name': "bakhtani", 'salary' : 100001}}

In [29]:
employe_data[1001]

{'first name': 'shahazaib', 'last name': 'bakhtani', 'salary': 100001}