In [9]:
dict1 = {
   "name" : "shahzaib" , "salary" : 500000}

In [11]:
dict1['name']

'shahzaib'

In [10]:
# to add any thing in dictionanry

In [13]:
dict1["qualification"] = "buisness analyst"

In [14]:
dict1

{'name': 'shahzaib', 'salary': 500000, 'qualification': 'buisness analyst'}

In [17]:
dict2  = {}

In [19]:
dict2["name"] = "asad" 
dict2["last name"] = "bakhtani"
dict2["salary"] = 600000

In [20]:
dict2

{'name': 'asad', 'last name': 'bakhtani', 'salary': 600000}

In [30]:
dict2["name"] = "asad"

In [31]:
dict2

{'last name': 'bakhtani', 'salary': 600000, 'name': 'asad'}

In [27]:
# Removing  Items from dictionanry

In [32]:
del dict2 ["name"]

In [33]:
dict2

{'last name': 'bakhtani', 'salary': 600000}

In [ ]:
# changing Items from dictionary

In [34]:
dict2 ["last name"] = "Assar ali"

In [35]:
dict2

{'last name': 'Assar ali', 'salary': 600000}

In [36]:
# looping through dictionary

In [42]:
dict3 ={ 1 : "shahzaib" ,
2 : "asad",
3 : "arfa",
4 :"asif"}

In [43]:
dict3

{1: 'shahzaib', 2: 'asad', 3: 'arfa', 4: 'asif'}

### loop

In [44]:
dict3.values()

dict_values(['shahzaib', 'asad', 'arfa', 'asif'])

In [45]:
for each_value in dict3.values () :
    print(each_value)

shahzaib
asad
arfa
asif

In [46]:
# concetination

In [47]:
for each_value in dict3.values () :
    print( each_value + "   "  "Bakhtani")

shahzaib   Bakhtani
asad   Bakhtani
arfa   Bakhtani
asif   Bakhtani

In [48]:
# inserting values or items in list from dict3

In [49]:
lst = []
for i in dict3.values () : 
    lst.append(i)

In [50]:
lst

['shahzaib', 'asad', 'arfa', 'asif']

In [51]:
# how to call keys ----> numbers

In [52]:
dict3.keys ()

dict_keys([1, 2, 3, 4])

In [53]:
for i in dict3.keys() :
    print(i)

1
2
3
4

In [56]:
for key,value in dict3.items ():
    print (key,value)

1 shahzaib
2 asad
3 arfa
4 asif

In [68]:
dict4 = {}

In [69]:
for key , vlaue in dict3.items () :
    dict4[value] = key

In [71]:
dict4

{'asif': 4}

In [72]:
dict3

{1: 'shahzaib', 2: 'asad', 3: 'arfa', 4: 'asif'}

In [54]:
# how to interchange the values / items and keys

In [73]:
for key,value in dict3.items () : 
    dict4[value] = key

In [74]:
dict4

{'asif': 4, 'shahzaib': 1, 'asad': 2, 'arfa': 3}

In [76]:
for key , value in dict3.items () : 
    print(key,"is the key of", value )

1 is the key of shahzaib
2 is the key of asad
3 is the key of arfa
4 is the key of asif

In [81]:
for key , value in dict4.items () : 
    print(key ,"is the key of", value )

asif is the key of 4
shahzaib is the key of 1
asad is the key of 2
arfa is the key of 3

### creating a list of dictionaries

In [84]:
# step 1 --> initialize a list 
# step 2 --> initialize a dictioanry 
# step 3 ---> code first dictioanry item 
# step 4 --->  insert a coma (,)
# step 5 ---> code another dictionary 
# step 6 ---> repeat step 4 and 5

In [89]:
lst = [
    {
        "name1" : 'shahzaib'},
    { "name2" : 'Asad'  }
]

In [90]:
lst

[{'name1': 'shahzaib'}, {'name2': 'Asad'}]

In [91]:
lst[0]

{'name1': 'shahzaib'}

In [92]:
# insert

In [93]:
lst.insert (0,{"n0" : "Asif"})

In [94]:
lst

[{'n0': 'Asif'}, {'name1': 'shahzaib'}, {'name2': 'Asad'}]

In [95]:
# how to pick info out of list of dictionaries

In [96]:
student = lst[1]

In [97]:
student

{'name1': 'shahzaib'}

In [99]:
student['name1']

'shahzaib'

In [100]:
lst[1]['name1']

'shahzaib'

In [107]:
accounts = [{
    'account_num' : 101,
    'first_name' : "shahzaib",
    'last_name' : "Bakhtani" , 
    'profession' : "student" }, 
    
    
    {'account_num' : 102,
     'first_name' : "Asad",
     'last_name' : "Bakhtani",
     'Profession' : "enginner"
        
    }








]

In [108]:
accounts

[{'account_num': 101,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 102,
  'first_name': 'Asad',
  'last_name': 'Bakhtani',
  'Profession': 'enginner'}]

In [109]:
len(accounts)

2

In [110]:
new_acc_no = len(accounts)

In [106]:
new_acc_no

2

In [128]:
new_dictionanry = {
    'account_num' : new_acc_no,
    'first_name' : "shahzaib",
    'last_name' : "Bakhtani" , 
    'profession' : "student"}

In [129]:
# how to increase number of dictionaries in list

In [130]:
accounts.append(new_dictionanry)

In [131]:
accounts

[{'account_num': 101,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 102,
  'first_name': 'Asad',
  'last_name': 'Bakhtani',
  'Profession': 'enginner'},
 {'account_num': 2,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 2,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 2,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 2,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'}]

In [135]:
len(accounts)

7

In [137]:
new_acc_no = len(accounts)

In [140]:
accounts.append(new_dictionary)

In [142]:
accounts

[{'account_num': 101,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 102,
  'first_name': 'Asad',
  'last_name': 'Bakhtani',
  'Profession': 'enginner'},
 {'account_num': 2,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 2,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 2,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 2,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 2,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'},
 {'account_num': 2,
  'first_name': 'shahzaib',
  'last_name': 'Bakhtani',
  'profession': 'student'}]

In [143]:
len(accounts)

8

In [144]:
new_acc_no = len(accounts)

In [153]:
new_acc_no

8

In [155]:
# ye alag sai bana na hain badh main vedio 5.2            13 min sai start

### dictionary that contain list

In [156]:
emp_dict = {
    'first_name' : 'Asad',
    'last_name' : 'bakhtani',
    'profession': 'enginner'}

In [157]:
emp_dict

{'first_name': 'Asad', 'last_name': 'bakhtani', 'profession': 'enginner'}

In [158]:
emp_dict['qualification'] = ["matric" ,"inter" ,"bachelor" ,"masters"]

In [159]:
emp_dict

{'first_name': 'Asad',
 'last_name': 'bakhtani',
 'profession': 'enginner',
 'qualification': ['matric', 'inter', 'bachelor', 'masters']}

In [160]:
emp_dict['qualification']

['matric', 'inter', 'bachelor', 'masters']

In [164]:
job_chance_percent = 0 
if "matric" in emp_dict['qualification'] :
    job_chance_percent += 25
if "inter" in emp_dict["qualification"]:
    job_chance_percent += 25
if "bachelor" in emp_dict["qualification"]:
    job_chance_percent += 25
if "masters" in emp_dict["qualification"] :
    job_chance_percent += 25

else : 
    job_chance_percent += 0
    
print(str(job_chance_percent) + " " + "%" )

100 %

In [165]:
# last main concetination howi hai 
# if ki waja sai wo gaya qualification main check kiya 
# aghar koi bhi ek cheez nahi ho to else ki waja sai 0 chances increase hon 
# += ----> increment ki sign hai ye