In [1]:
print("hello shahzaib")

hello shahzaib

In [6]:
print(3)

3

In [8]:
print("my name is \nshahzaib ")

my name is
shahzaib

In [11]:
print(""""

my name is shahzaib 

I am right now studying python. 


""")

"

my name is shahzaib

I am right now studying python.

In [15]:
print(123) # int

123

In [16]:
print(1.5) # float

1.5

# variables

### containers and buckets

In [12]:
var = 123

In [13]:
var

123

In [19]:
var1 = 124

In [20]:
var1

124

In [21]:
var12 = "hello"

In [22]:
var12

'hello'

In [23]:
var13_ = 'world'

In [24]:
var13_

'world'

In [25]:
name = 'shahzaib'

In [26]:
name

'shahzaib'

In [28]:
bromide_test_1 = "successful"

In [30]:
var1

124

In [32]:
var1 = "world"

In [33]:
var1

'world'

# Numbers

In [35]:
numbers = 150

In [36]:
numbers

150

In [37]:
numbers + 25

175

In [43]:
added_numbers = numbers + 25

In [44]:
print(added_numbers)

175

numbers

In [45]:
numbers

150

In [46]:
numbers = numbers + 25

In [47]:
numbers

175

In [48]:
numbers = added_numbers 

numbers

175

In [49]:
new_numbers = numbers + added_numbers

In [50]:
new_numbers

350

In [51]:
print(new_numbers)

350

In [52]:
175 + 175

350

In [53]:
float_varriable = 1.0000000

In [54]:
print(float_varriable)

1.0

# math expression

In [63]:
cost = 4       #addition example

In [64]:
cost

4

In [65]:
# selling price = cost + profit 

profit = 2 

selling_price = cost + profit 

selling_price

6

In [66]:
loss = 12 - 24

In [67]:
loss

-12

In [68]:
multiply = 3 * 4

In [69]:
multiply

12

In [70]:
division = 6/2

In [71]:
division

3.0

In [72]:
division = 6//2

In [73]:
division

3

In [78]:
2.5 // 2        # doulble slash (//) remove value after .

1.0

In [77]:
2.5 / 2

1.25

# unfamiliar operator

In [79]:
remainder = 9%3

In [80]:
remainder

0

In [81]:
remainder = 3%2

In [82]:
remainder

1

In [83]:
5 % 2

1

In [84]:
3 %1

0

In [5]:
age = 20

In [6]:
age = age + 1

In [7]:
print(age)

21

In [8]:
age = 20

In [9]:
age

20

In [10]:
age += 1

In [11]:
age

21

In [12]:
cost = 20

In [13]:
cost = cost - 1

In [14]:
cost

19

In [15]:
cost -= 1

In [16]:
cost

18

In [5]:
egg_cost = 3

In [6]:
dozen = 12

In [7]:
egg_cost *= dozen

In [8]:
egg_cost             # per dozen

36

In [9]:
per_share = dozen/3

In [10]:
per_share

4.0

In [11]:
cost = 180

In [12]:
discount = 20

In [13]:
cost -= discount 

print(cost)

160

In [14]:
oper = 123 + 5 - 4 * 3

In [15]:
oper

116

In [17]:
2**2

4

In [18]:
2**3

8

In [20]:
2**8

256

# Eliminating Ambiguity

In [22]:
# concetination

In [17]:
first_name = "asad"

In [12]:
first_name

'shahzaib'

In [19]:
last_name = "assar"

In [20]:
last_name

'assar'

In [9]:
print("id_card = "  + "22")

id_card = 22

In [8]:
currency_amount = "2000"

In [9]:
currency_amount

'2000'

In [10]:
currency_symbol = "PKR"

In [11]:
currency_symbol

'PKR'

In [12]:
currency = currency_symbol + "  " + currency_amount

In [13]:
print(currency)

PKR  2000

# if statements

In [10]:
animal = "cat"

In [11]:
animal

'cat'

In [12]:
if animal == "cat":
    status = "ok" 
    kingdom = "animal"
    print("cat is an animal")

cat is an animal

In [6]:
print(status)

ok

In [7]:
print(kingdom)

animal

# Comparison Operator

In [13]:
if animal != "dog" :
    print("python is an idiot")

python is an idiot

In [15]:
 if 6 < 10 :
    print("good one")

good one

In [18]:
if 6 > 10 :                   # means its false so nahi aaya anwser 
    print("good one")

In [19]:
 :
        if 6 < 10 :
    print("good one")

good one

In [20]:
if 10 >= 5 : 
    print("good one ")

good one

In [21]:
if 6 <= 10 :
    print("good one")

good one

# Else and elif statements

In [25]:
if animal == "cat" :
    print("condition is true")

condition is true

In [26]:
if animal != "dog" :
    print("condition is false")

condition is false

In [28]:
if animal != "animal" :
    print("condition is true")
    
else:
    print("condition is flase")

condition is true

In [31]:
if animal == "cat" :
    print("wow")
if 2000 == 1999 : 
    print("wow")
if 17 >10 :
    print("wow")

wow
wow

# and condition

# iba addmision

In [36]:
matric_marks = 100
entry_marks = 89

if matric_marks >= 80 and entry_marks >= 90:
    print("congrats you got the addmision!")
    
else :
    print("get lost !")

get lost !

# or condition

# iqra addmision

In [40]:
matric_marks = 50 
entry_marks = 60 

if matric_marks >= 55 or entry_marks >= 60 :
    print("aaga bhai")

aaga bhai

# list

In [41]:
var1 = [1,2,3,4,5.5,6.5,"shahzaib"]

In [42]:
var1

[1, 2, 3, 4, 5.5, 6.5, 'shahzaib']

In [43]:
len(var1)

7

In [44]:
# len means number of elements

In [47]:
len(var1)-6            # 6 elemnts are canceled

1

In [48]:
var1

[1, 2, 3, 4, 5.5, 6.5, 'shahzaib']

In [14]:
sports = ["basketball" , "squash" , "tennis" , "swimming" , "soccer", "hockey"]

In [15]:
print(sports)

['basketball', 'squash', 'tennis', 'swimming', 'soccer', 'hockey']

In [16]:
sports[0]

'basketball'

In [17]:
sports[3]

'swimming'

In [18]:
sports[4-1]

'swimming'

In [19]:
# updating list

In [21]:
sports[3]

'swimming'

In [22]:
sports[4] = "cricket"

In [23]:
sports[4]

'cricket'

In [24]:
# append       adding new element

In [28]:
sports.append("ice hockey")

In [29]:
sports

['basketball',
 'squash',
 'tennis',
 'swimming',
 'cricket',
 'hockey',
 'ice_hockey',
 'ice hockey']

In [35]:
new_sports = ["golf" , "gymnastics" ]

In [39]:
sports = sports + new_sports

In [40]:
sports

['basketball',
 'squash',
 'tennis',
 'swimming',
 'cricket',
 'hockey',
 'ice_hockey',
 'ice hockey',
 'golf',
 'gymnastics']

In [38]:
# insert which incude new element in between  base on index we give

In [41]:
sports.insert(4, "baseball")

In [42]:
sports

['basketball',
 'squash',
 'tennis',
 'swimming',
 'baseball',
 'cricket',
 'hockey',
 'ice_hockey',
 'ice hockey',
 'golf',
 'gymnastics']

In [48]:
students_IDs = []